body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #282c34; /* Темный фон */
    font-family: 'Arial', sans-serif;
    color: #eee;
}

#game-container {
    background-color: #3a404d;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #61dafb; /* Цвет заголовка */
    margin-bottom: 20px;
}

#gameCanvas {
    background-color: #556070; /* Фон игрового поля */
    border: 2px solid #61dafb;
    border-radius: 5px;
    cursor: crosshair; /* Курсор для разрезания */
}

#level-info {
    margin-top: 15px;
    font-size: 1.2em;
    color: #a0a8b3;
}

#game-controls {
    margin-top: 20px;
}

button {
    background-color: #61dafb;
    color: #282c34;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4fa3d7;
}

#game-messages {
    margin-top: 15px;
    font-size: 1.3em;
    font-weight: bold;
    color: #f0f0f0;
}
